body {
  font-family: "Lato", sans-serif;
}

body img {
  float: right;
  padding: 15px;
}

hr {
  display: block;
  width: 100%;
  border-top: 2px dotted #ccd8eb;
}

p {
  padding-top: 15px;
  padding-bottom: 15px;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2023";
  color: #ccd8eb;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -2em;
}

form {
	width: 900px;
	margin: auto;
}

label {
	float: left;
	clear: left;
	display: block;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

fieldset {
	margin-bottom: 10px;
}

.top {
  height: 10%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #c3e8df;
}

.top img {
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  padding-right: 25px;
  line-height: 0px;
}

.sidenav {
  height: 88%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0;
  background-color: #ccd8eb;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 16px 10px;
  text-decoration: none;
  font-size: 18px;
  color: #40444a;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 180px; /* Same as the width of the sidenav */
  margin-top: 7%; /* Same as the height of the header */
  margin-bottom: 7%; /* Same as the height of the footer */
  font-size: 18px;
  padding: 0px 10px;
}

.footer {
  height: 2%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #c3e8df;
  
  color: #40444a;
  text-align: center;
  font-size: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}